{% extends "base.html" %}
{% load static %}
{% block page_title %}Home{% endblock %}

{% block page_content %}
<div class="home-background container-fluid " style="padding:0!important;">
	<img width="100%" src="{% static "crop-mountains.jpg"%}"alt="no-background-image">
</div>
<div class="col-md-8 offset-md-2 home-content">
	<div class="col-md-8 offset-md-2 home-text" style="margin-top:10px;" id="header_fade">
		<div class="text-center home-text"style="margin-bottom:10px;">
			<img style="border-radius:50%;"width="20%" src="{% static "headshot.JPG" %}"alt="no-background-image">
		</div>
		<h1 style="margin-bottom:0;padding-bottom:0;">Michael J. Savini</h1>
		<h2 style="text-align:center;">Rensselaer Polytechnic Institute Class of 2020</h2>
		<p style="width:inherit; border-bottom: 2px #202333 solid;"> &nbsp; </p>
	</div>
	<div class="col-md-8 offset-md-2 home-text" id="header_fade">
		<div class="professional-titles" style="display:inline;">
			<ul style="list-style-type:none;">
				<li>Software Developer</li>
				<li>Full Stack Developer</li>
				<li>Software Engineer</li>
				<li>Programmer</li>
				<li>Web Designer</li>
				<li>Audio Engineer</li>
				<li>Composer</li>
				<li>Sound Designer</li>
				<li>Mix Engineer</li>
				<li>Music Producer</li>
		</div>
	</div>
	<!--
	<div class="w-100 col-md-4 offset-md-4">
		<div style="position:absolute; text-align:center;">
			<img id="right-img" style="display:inline;" height="350px" src="{% static "pic-edit-3-left.png"%}"alt="no-pic-edit-1">
		</div>
		<div style="position:absolute; text-align:center;">
			<img id="mid-img" style="display:inline!important;" height="350px" src="{% static "pic-edit-3-mid.png"%}"alt="no-pic-edit-1">
		</div>
		<div style="position:absolute; text-align:center;">
			<img id="left-img" style="display:inline!important;" height="350px" src="{% static "pic-edit-3-right.png"%}"alt="no-pic-edit-1">
		</div>
	</div>
	-->
</div>
<script>
</script>

{% endblock %}